@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bootstrap Crash Course</h1>
    <p>Learn Bootstrap 4.3.1 inside of an ASP.NET Core application.</a>.</p>
</div>
